<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Préparation des commandes</h2>

<ul>
  <h3>Créées (en attente de préparation)</h3>
  {{#each @model.orders as |order|}}
    <div>
      {{#if (eq order.status "created")}}
        <i class="hourglass icon"></i>
        <LinkTo @route="order" @model={{order.id}}>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        </LinkTo>
        <label>{{order.toPay}} €</label>
      {{/if}}
    </div>
  {{/each}}
</ul>

<ul>
  <h3>Préparées</h3>
  {{#each @model.orders as |order|}}
    <div>
      {{#if (eq order.status "prepared")}}
        <i class="check icon"></i>
        <LinkTo @route="order" @model={{order.id}}>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        </LinkTo>
        <label>{{order.toPay}} €</label>
      {{/if}}
    </div>
  {{/each}}
</ul>