{{page-title "Ex1"}}

<Textarea @value={{this.content}}></Textarea>
<p>{{this.size}}</p>

<button type="button" {{on "click" this.clear}}>clear</button>
<button type="button" {{on "click" this.save}}>save</button>

<p>Status : {{this.estSave}}</p>

<p>Content : {{this.content}}</p>
<p>Save : {{this.saveC}}</p>
{{outlet}}