{{page-title "Ex2"}}
<ul>
  {{#each @model.products as |products|}}
    <li  {{action "toggleActive" products}}>
    {{products.name}} {{products.price}} {{products.active}}
    </li>
  {{/each}}

  <h2> {{plural @model.countActive "Aucun" "1 service" "services"}}</h2>
  <h4>Nombre de champs actifs : {{@model.countActive}}</h4>
  <!--<h4>Somme des champs actifs : {{@model.sumActive}}</h4>-->
</ul>
{{outlet}}