{{page-title "Step1"}}
<h1>Selectionner vos produits</h1>
<b>Produits disponibles :</b><br>

<MultiSelect @elements={{this.dispoItems}} @selected={{this.dispoItems_}} @onChange={{this.changeDispo}} />

<div {{action "add" this.dispoItems this.includeItems this.dispoItems_}} class="btn btn_primary">
  ▶|
</div>

<div {{action "add" this.dispoItems this.includeItems this.dispoItems}} class="btn btn_primary">
  ▶▶|
</div>

<div {{action "add" this.includeItems this.dispoItems this.includeItems_}} class="btn btn_primary">
  |◀
</div>

<div {{action "add" this.includeItems this.dispoItems this.includeItems}} class="btn btn_primary">
  |◀◀
</div>

<MultiSelect @elements={{this.includeItems}} @selected={{this.includeItems_}} @onChange={{this.changeInclude}} />
<ul>
  {{#each this.dispoItems_ as |items|}}
    <li>{{items.title}}</li>
  {{/each}}
</ul>

<p>{{this.includeItems.length}} produits sélectionnés</p>
{{outlet}}